################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Build/
/.vs
.DS_Store
*.xcodeproj/project.xcworkspace
*.xcodeproj/xcshareddata
*.xcodeproj/xcuserdata
